<div class="logs">
    <div class="window">
        <div class="circle-btn window-btn">
            <p class="big ">Login</p>
        </div>
        <%- include('../fragments/login.ejs'); %>
    </div>
    <div class="window">
        <div class="circle-btn window-btn">
            <p class="big ">Register</p>
        </div>
        <%- include('../fragments/registration.ejs'); %>
    </div>
</div>