<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>DevMa</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' type='text/css' media='screen' href='../css/fonts.css'>
<link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
<link rel='stylesheet' type='text/css' media='screen' href='../css/default.css'>
<link rel='stylesheet' type='text/css' media='screen' href='../css/left-aside.css'>
<link rel='stylesheet' type='text/css' media='screen' href='../css/card.css'>
<link rel='stylesheet' type='text/css' media='screen' href='../css/window.css'>
<script src="../scripts/jquery-3.6.1.min.js"></script>
<script src="../scripts/list.js"></script>
<script src="../scripts/moduleWindow.js"></script>
<script src="../scripts/guestFunc.js"></script>

<% if (user) { %>
    <script src="../scripts/userFunc.js"></script>
    <script src="../scripts/data.js"></script>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/user.css'>
<% } %>
