<aside class="left-aside">
    <nav class="list">
        <h3 class="list-header middle">Codes</h3>
        <ul class="list-body">
            <li><p class="'smallest">PHP</p></li>
            <li><p class="'smallest">HTML</p></li>
            <li><p class="'smallest">JAVA</p></li>
            <li><p class="'smallest">NODE JS</p></li>
        </ul>
    </nav>
    <nav class="list">
        <h3 class="list-header middle">Libraries</h3>
        <ul class="list-body">
            <li><p class="'smallest">NumPy</p></li>
            <li><p class="'smallest">Matplotlib</p></li>
            <li><p class="'smallest">Apache Spark</p></li>
            <li><p class="'smallest">React js</p></li>
            <li><p class="'smallest">Node js</p></li>
            <li><p class="'smallest">JQuery</p></li>
            <li><p class="'smallest">p5</p></li>
            <li><p class="'smallest">Dojo Toolkit</p></li>
        </ul>
    </nav>
    <nav class="list">
        <h3 class="list-header middle">Snippets</h3>
        <ul class="list-body">
            <li><p class="'smallest">PHP</p></li>
            <li><p class="'smallest">HTML</p></li>
            <li><p class="'smallest">JAVA</p></li>
            <li><p class="'smallest">NODE JS</p></li>
        </ul>
    </nav>
</aside>