<div class="window-body">
    <div class="back"></div>
    <div class="front" style="background: none; border: none; width: 70%;">
        <input type="text" name="title" id="search" placeholder="Search" class="middle">
    </div>
    <div class="searchResult">

    </div>
</div>