@font-face { 
    font-family: "glitch";
    src: url(../fonts/SdglitchdemoRegular-YzROj.ttf) 
}
@font-face { 
    font-family: "raven";
    src: url(../fonts/Raven-Ea8OW.otf) 
}
@font-face { 
    font-family: "enso";
    src: url(../fonts/EnsoBold-Alag.ttf) 
}
@font-face { 
    font-family: "xolonium";
    src: url(../fonts/XoloniumBold-147g.otf) 
}
/* opentype */
/* truetype */