.window-body{
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition-duration: 0.2s;
    color: black !important;;
    cursor: auto !important;
    font-family: "glitch";
}
.window-body .back{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.613);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:-10;
    cursor: pointer;
}
.front{
    width: 30%;
    background-color: white;
    border: 2px solid rgb(13, 0, 54);
    padding: 2% 3%;
    box-sizing: border-box;
    border-radius: 20px;
}
.window-body h2{
    color: black;
}
.window-body form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.window-body form > div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.window-body form input{
    width: 100%;
    height: 5vmin;
    font-size: 3vmin;
    font-family: "glitch";
    margin: 10px 0px;
    text-transform: uppercase;
}
.window-body button{
    padding: 10px 20px;
    font-size: 3vmin;
    color: white;
    background-color:  black;
    border: 3px solid black;
    cursor: pointer;
    transition-duration: 0.2s;
    font-family:"glitch";
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.window-body button:hover{
    color: black;
    background-color: white;
}
.window-body p{
    margin: 0px;
    margin-bottom: 10px;
}
.window-body .front > input{
    height: 5vmin;
    width: 100%;
}
.window-body .searchResult{
    width: 70%;
    height: 50vh;
    overflow-y: scroll;
    display: flex;
}