<div class="window-body">
    <div class="back"></div>
    <div class="front">
        <form id="log">
            <input type="text" name="user" placeholder="User">
            <input type="password" name="password" placeholder="Password">
            <div>
                <p class="callback middle">&#8205;</p>
                <button>Log In</button>
            </div>
        </form>
    </div>
</div>