<div class="window-body">
    <div class="back"></div>
    <div class="front">
        <form method="post"  id="reg">
            <input type="text" name="username" placeholder="User">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <div>
                <p class="callback middle">&#8205;</p>
                <button>Registration</button>
            </div>
        </form>
    </div>
</div>